/*

-------------------------------------------------------------

HERO STYLES

*/

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  // background-image: linear-gradient(
  // 90deg,
  // transparent 99%,
  // rgba(0,0,0,0.05) 1px);
  // background-size:8.3333339%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    margin-top: 3.5rem;
  }

}
