/*

-------------------------------------------------------------

HERO STYLES

*/

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    margin-top: 3rem;
  }

}
