/*

-------------------------------------------------------------

BUTTONS

*/


.btn {
  display: inline-block;
  line-height:64px;
  padding: 0 48px;
  border-radius: 2rem;
  background-color: $red;
  color: $white;
  text-decoration: none;
  transition: background-color 0.3s $easeOutQuint;
  margin: auto;

  &:hover {
    background-color: darken($black, 5%);
  }
}
