/*

-------------------------------------------------------------

TYPOGRAPHY

*/


body {
	font-family:$primary-font-family;
	font-weight:$primary-font-weight;
	font-size:$primary-font-size;
	color:$primary-font-color;
	line-height:$primary-line-height;
}

h1, h2, h3, h4 {
	margin: 0;
	line-height: 1.5;
}

h1 {
	font-size: 3rem;
	font-weight: 700;

	span {
		display: block;
		font-size: 1rem;
		font-weight: 400;
		color: rgba($black, 0.4);
	}
}

h2 {

}

h3 {

}

h4 {

}

a {

}

.text-center { text-align: center; }
